/* You can add global styles to this file, and also import other style files */

/* Fonts */

@font-face {
  font-family: OpenSansRegular;
  src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: Interstate-Black-Cond;
  src: url('fonts/interstate-black-cond.otf');
}

@font-face {
  font-family: Interstate-Regular-Cond;
  src: url('fonts/interstate-regular-comp.otf');
}

@font-face {
  font-family: Montserrat-Reg;
  src: url('fonts/Montserrat-Regular.ttf');
}

.OpenSans-Regular {
	font-family: OpenSansRegular;
}

.Interstate-Black {
	font-family: Interstate-Black-Cond;
}

.Interstate-Reg {
	font-family: Interstate-Regular-Cond;
}

.Montserrat-Reg {
	font-family: Montserrat-Reg;
}

.active {
  background: #9c1111;
  margin: 0px;
  padding: 0px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 9px;
  margin-right: 2px;
}

.avatar img {
/*   width: 38px;
  height: auto; */
  /* display: block;
  margin: auto; */
 /*  margin-left: auto;
  margin-right: auto; */
  text-align: center;
}